<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="PrivacyTestFramework" value="https://msazure.pkgs.visualstudio.com/_packaging/PrivacyTestFramework/nuget/v3/index.json" />
    <add key="Official" value="https://msazure.pkgs.visualstudio.com/_packaging/Official/nuget/v3/index.json" />
  </packageSources>
</configuration>